<main>
  <img alt="Our logo" height="400" weight="400" src="/logo.png"/><br>
  <h3> Destructible messages as a service </h3>
  <a href="/api/v1/oauth/connect/slack">
    <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
  </a>
  <hr>
  <h3> Project made for <a href="https://www.nodeknockout.com"> Node Knockout 2016 </a></h3>
  <p> We had 48 hours to create something using Node.JS <br>The project would have been a destructive message service,
  where you are able to create messages which are alive for a given time only. <br> After the time is over,
  the message is getting destroyed and there is no way to see it again. <br> We wanted to make it possible to control the service from Slack
  with custom commands. However, we had no time to finish. More information at the repository of the project!</p>
</main>
