<div>
  <div>
    <ul class="mdl-list">
      <li class="mdl-list__item mdl-list__item--three-line auto-height" *ngFor="let message of messages">
        <span class="mdl-list__item-primary-content auto-height">
          <img md-list-avatar class="user-icon" [src]="message.icon">
          <span>{{ message.senderName }}</span> <span class="time">{{ message.when }}</span>
          <p class="mdl-list__item-text-body message">
            {{ message.content }}
          </p>
        </span>
      </li>
    </ul>
  </div>

  <div class="bottom-box full-width">
    <div class="message-box">
      <div class="mdl-textfield mdl-js-textfield full-width">
        <textarea class="mdl-textfield__input message-input-box message-input"
          #messageInput
          type="text" rows= "3" id="typeMessage" (keyup)="onKeyEvent($event)"></textarea>
        <label class="mdl-textfield__label message-input-box" for="typeMessage">Type message.</label>
      </div>
    </div>
    <div class="option-box" style="padding: 10px">
      <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="dstructToggler">
        Message Dstructs in {{ dstructTime }} seconds.
      </div>
      <button id="dstructToggler" md-mini-fab class="small-margin" (click)="toggleDstructTime()">{{ dstructTime }}</button>
      <button md-raised-button color="primary" class="small-margin" (click)="sendMessage(messageInput.value)">Send</button>
    </div>
  </div>
</div>
